<div class="container">
  <div class="card-container">
    <div class="title">
      <div style="color:#1D5A67;"><b>Fixed Reported issue :</b></div>
    </div>
    <div *ngFor="let f of feeds | async , let i = index" class="card">
      <div class="department"> {{f?.department}} </div>
      <div class="image"><img src="{{f.image}}"></div>
      <div class="detail">
        <div class="fixbox">
          <div class="topic"> {{f?.topic }} </div>
          <div class="fixbutton">
            <div class="date">Fixed on : {{f?.fix_date | slice:0:10}} </div> 
          </div>
        </div>
        <div class="description"> {{f?.description | slice:0:100}} </div>
        <div class="footer">
          <div class="location">Building : {{f?.location}} </div>

          <div class="date">| Reported on : {{f?.date | slice:0:10 }} </div>
        </div>
      </div>
    </div>
  </div>
</div>
