<div class="container">
  <div class="card-container">
    <div class="title">
      <div style="color:#1D5A67;"><b>Fixed Reported issues :</b></div>
    </div>
    <div *ngFor="let f of feeds | async , let i = index" class="card">
      <div class="department">Department: {{f?.department}} </div>
      <div class="image"><img src="{{f.image}}"></div>
      <div class="detail">
        <div class="fixbox">
          <div class="topic"> {{f?.topic }} </div>
          <div class="fixbutton">
            <div class="date">
                <div class="location"> <i class="fas fa-check-circle"></i>{{f?.fix_date | slice:0:10}} </div></div> 
          </div>
        </div>
        <div class="description"> {{f?.description | slice:0:100}} </div>
        <div class="footer">
            <div class="location"><i class="fas fa-building"></i> : {{f?.location}} </div>
            <div class="date"> <i class="fas fa-flag"></i> : {{f?.date | slice:0:10 }} </div>
          </div>
      </div>
    </div>
  </div>
</div>
