@import "../../styles/flexbox";
@import "../../styles/mixins";
@import "../../styles/bootstrap";
img {
  height: 250px;
  max-width: 300px;
}

.title{
  @include make-lg-column(12);
  font-size: 1.2em;
  font-weight: bold;
  font-family: open sens;
  padding:10px;
}

.card-container {
  @include flexbox();
   border: 3px solid white;
  margin: 0 0 30px 0;
  padding: 0 50px;
  width: 100%;
  @include flex-wrap(wrap);
  border:solid 0.5px #245a52;
}

.fixbox{
  @include flexbox();
  position: relative;
  .fixbutton{
    padding:10px;
  button{
    position: absolute;
    top:5px;
    right: 5px;
    background-color: #5c96c9;
    border-radius: 10px;
    color: white;
    border: none;
  }
}
}
.card {
  margin: 20px;
  background-color: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  text-align: justify;
  &:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  .department {
    padding: 2px 10px;
    font-weight: bold;
    font-size: 1.2em;
  }
  .topic {
    font-weight: bold;
    font-size: 1.2em;
    font-family: sans-serif;
    padding: 5px;
  }
  .description {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
  }
  .footer {
    @include flexbox();
    margin-top: 5px;
    height: 50px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    .location {
      width: 100px;

    }
  }
}
